
<div class="comment-header-container">
  <h1 class="comment-header"> {{ commentTitle }}</h1>
</div>

<ul class="comment-list">
  <li *ngFor="let oneComment of myComments">
    <h3> {{ oneComment.authorName }}</h3>
    <p> {{ oneComment.comment }}</p>
  </li>
</ul>

<div class="form-container">
  <form id="form" action="" method="">
    <label for="fullNameInput">Full Name: </label>
    <br />
    <input id="fullNameInput" type="text" placeholder="e.g. Alejandro Roman">
    <br />
    <label for="commentInput">Write your comment:</label>
    <br />
    <textarea name="" id="commentInput" cols="30" rows="10"></textarea>
    <br />
    <button>Enter</button>
  </form>
</div>
