.comment-header-container {
  width: 800px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  border-radius: 30px;
  background-color: #C4E0ED;
}

.comment-header {
  align-self: center;
  padding-left: 10px;
  font-family: lato;
}

.comment-list {
  width: 800px;
  margin: 0 auto;
}

.comment-list li {
  list-style-type: none;
}

.form-container {
  width: 800px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #6CB1F0;
}

#form{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#form button {
  margin-bottom: 10px;
}
