.ul-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 10px 0 10px;
}
.ul-container img {
  width: 200px;
  height: 200px;
}

.ul-container li {
  list-style-type: none;
}
